@import "@fontsource/encode-sans-expanded";




.classes-hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1; /* background behind overlay */
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: left;
  justify-content:left;
  position: relative;
  z-index: 1; /* bring text on top */
}

.classes-title {
  color: #ffffff;
  font-size: 8rem;
  font-weight: 200;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 400;
  /* text-transform: uppercase; */
  margin: 80px;
  position: relative;
  z-index: 2; /* highest */

}

@media(max-width: 768px) {
  .classes-title {
    font-size: 4rem;
  }
}
