.classes-section {
  display: flex;
  background: #000;
  color: white;
  /* width: 30%; */
  
}

.classes-left {
  width: 30%;
  padding: 40px;
  font-size: 26px;
    border: 1px solid #262626;

}

.classes-right {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 20px; */
  /* padding: 40px; */
}

.card {
  background: #fff;
  color: #000;

}

.card img {
  width: 100%;
  /* height: 250px; */
  object-fit: cover;
  margin: 0px;
}

/* .card h3 {
  /* margin: 10px; */
/* } */ */

.card p {
  margin: 0 10px;
  font-size: 14px;
}

.card span {
  display: block;
  margin: 10px;
  color: blue;
  font-size: 13px;
}

.card.full {
  grid-column: span 2;
}
