.classes-hero {
  min-height: 100svh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* bring text on top */
}

.classes-title {
  color: #ffffff;
  font-size: 8rem;
  font-weight: 200;
  /* text-transform: uppercase; */
  margin: 80px;
  position: relative;
  z-index: 2;
  /* highest */
}

@media(max-width: 768px) {
  .classes-title {
    font-size: 4rem;

  }
}