*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.home {
  position: relative;
  height: 100%;
  width: 100%;
  /* background: url("/dance-bg.jpg") center/cover no-repeat; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-align: left;
  /* overflow: hidden; */
}



/* .home-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
} */

.overlay {
  background: rgba(0, 0, 0, 0.4);
  /* padding: 2rem; */
  padding: 100%;
  /* border-radius: 1rem; */
}

.title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

/* .subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
} */

.btn {
  background: white;
  color: black;
  border: none;
  padding: 0.75rem 2rem;
  
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}