.navbar {
  width: 95%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left {
  gap: 40px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #c9a5ff;
}

/* .nav-center p {
  font-size: 0.95rem;
  color: #ccc;
} */

.logo {
  font-size: 1.5 rem;
  font-weight: 400;
  letter-spacing: 1 px;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 20px;
    height: auto;
  }

  .nav-left {
    flex-direction: column;
    gap: 10px;
  }

  .nav-center {
    margin-top: 10px;
  }

  .nav-right {
    margin-top: 10px;
  }
}