@import "@fontsource/encode-sans-expanded";
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");

/* ================================================= */
/* MAIN FOOTER */
/* ================================================= */

.footer {
  width: 100%;
  background-color: #a5e3e7;
  color: #000;
  font-family: "Poppins", sans-serif;
  margin-top: auto;
  z-index: 10;

  /* ❌ NO HIDE / NO SCALE */
  transform: none;
  opacity: 1;
}

/* ================================================= */
/* TOP SECTION */
/* ================================================= */

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 4rem;
  height: 28rem;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 600;
  font-size: 126px;
  line-height: 0.9;
  margin: 0;
}

/* ================================================= */
/* CENTER & RIGHT */
/* ================================================= */

.footer-center {
  display: flex;
  flex-direction: column;
} 

.footer-right {
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
}

.footer-title,
.footer-text {
  font-size: 16px;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  margin: 2px 0;
}

/* ================================================= */
/* BOTTOM BLOCKS */
/* ================================================= */

.footer-bottom {
  display: flex;
  width: 100%;
}

.footer-block {
  flex: 1;
  padding: 1.8rem;
  padding-bottom: 8rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.blue {
  background-color: #1F41FF;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.black {
  background-color: #000;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.pink {
  background-color: #D900FF;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}


@media (max-width: 1024px){
  .footer-logo {
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 600;
  font-size: 90px;
  margin-left: -2rem;
  margin-top: -1.5rem;
  }

  .footer-center{
    margin-top: -1.5rem;
    margin-left: 3rem;
  }

  .footer-right{
    margin-top: -1.5rem;
  }

  .footer-top{
    background-color: #D0FBF9;
  }
  .footer-title,
  .footer-text {
  font-size: 15px;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
}

.footer-bottom{
margin-top: -3rem;
}
.blue {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.black {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.pink {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

}


