@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@300;400;600;700&display=swap');



/* Center Alignment */
.class-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  /* border-bottom: 1px solid black; */
   z-index: 10;
}

/* Two sections container */
.class-container {
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0;
  min-height: 90vh;
  gap: 0;
}

/* BTH SQUARES */
.class-square-box {
  flex: 1;
  overflow: hidden;
  /* margin-left: -5px; */
}

.class-left1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background: linear-gradient(rgb(0,0,0.5)); */
  
}

/* RIGHT TEXT BLOCK */
.class-right1 {
  padding: 3rem;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
   border-bottom: 1px solid black;
   /* box-shadow: 50px; */
   
    
   
  
}
.arrange-text1 {
  padding: 0rem;
  /* padding-right: 0.5rem; */
  /* border-radius: 50px; */
  margin: 0px 85px;
  /* box-shadow: 5px 5px 10px rgb(0,0,0,0.3); */
}

.class-right1 h2 {
  /* font-size: 1.6rem; */
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
    /* box-shadow: 50px; */
  
}
.class-right1 p{
  margin-bottom: 1rem;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 400; 
  font-size: 17px;
    /* box-shadow: 50px; */
}

.class-right1 button {
  margin-top: 1rem;
  padding: 1rem 1rem;
  background: #2200FF;
  border: none;
  color: white;
  cursor: pointer;
  width: 24%;
  font-size:smaller ;
}
/* .vision-title {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-size: 8rem;
  font-weight: 600;
  z-index: 10;
  margin: 0;
  height: 50%;
} */
.class-title1 {
  position: absolute;
  top: 30px;
  left: 40px;
  color: white;
  font-size: 8rem;     
  letter-spacing: -3px;      
  line-height: 0.9;           
  font-stretch: 50%;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 600;
  z-index: 10;
  margin: 0; 
 
}

.class-left1 {
  position: relative;   
}