@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@300;400;600;700&display=swap');


* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}


/* Center Alignment */
.class-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  /* border-bottom: 1px solid black; */
   z-index: 10;
}

/* Two sections container */
.class-container {
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0;
  min-height: 90vh;
  gap: 0;
}

/* BTH SQUARES */
.class-square-box {
  flex: 1;
  overflow: hidden;
  /* margin-left: -5px; */
}

.class-left1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background: linear-gradient(rgb(0,0,0.5)); */
  
}

/* RIGHT TEXT BLOCK */
.class-right1 {
  padding: 3rem;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
   border-bottom: 0.1px solid black;
   /* box-shadow: 50px; */
   
    
   
  
}
.arrange-text1 {
  padding: 0rem;
  /* padding-right: 0.5rem; */
  /* border-radius: 50px; */
  margin: 0px 85px;
  /* box-shadow: 5px 5px 10px rgb(0,0,0,0.3); */
}

.class-right1 h2 {
  /* font-size: 1.6rem; */
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
    /* box-shadow: 50px; */
  
}
.class-right1 p{
  margin-bottom: 1rem;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 400; 
  font-size: 17px;
    /* box-shadow: 50px; */
}

.class-right1 button {
  margin-top: 1rem;
  padding: 1rem 1rem;
  background: #2200FF;
  border: none;
  color: white;
  cursor: pointer;
  width: 24%;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 400;
  font-size: 13px;
}
/* .vision-title {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-size: 8rem;
  font-weight: 600;
  z-index: 10;
  margin: 0;
  height: 50%;
} */
.class-title1 {
  position: absolute;
  top: 30px;
  left: 40px;
  color: white;
  font-size: 8rem;     
  letter-spacing: -3px;      
  line-height: 0.9;           
  font-stretch: 50%;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 600;
  z-index: 10;
  margin: 0; 
 
}

.class-left1 {
  position: relative;   
}

/* tab view */

@media (max-width: 1024px) {

  .class-container {
    min-height: auto;
    flex-direction: row;
  }

  .class-square-box {
    flex: 0 0 50%;
    /* width: 50%; */
    /* height: auto; */
    height: 40vh;
  }

  .class-left1 img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

  .class-right1 {
    padding: 2rem;
    justify-content: center;
  }

  .arrange-text1 {
    margin: 0 40px;
  }

  .class-title1 {
    font-size: 5rem;
    top: 25px;
    left: 25px;
  }

  .class-right1 h2 {
    font-size: 18px;
    margin-bottom: 1.8rem;
  
  }

  .class-right1 p {
    font-size: 15px;
    line-height: 1.6;
    /* height: 30vh; */
    justify-content: center;
    align-items: center;
  }

  .class-right1 button {
    width: 150px;
    padding: 0.8rem 1.2rem;
    font-size: 13px;
  }
}
 
/* mobile view */
@media (max-width: 600px) {

  /* .class-wrapper{
    border-bottom: 1px solid black;
  } */

  .class-container {
    flex-direction: column;
  }

  .class-square-box {
    width: 100%;
    height: auto;
  }

  .class-left1 img {
    width: 100%;
    /* height: 45vh; */
    height: 100%;
    /* object-fit: cover; */
  }

  .class-title1 {
    font-size: 70px;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 600;
    top: 10px;
    left: 25px;
    line-height: 1;
  }

  .class-right1 {
    width: 100%;
    padding: 1.5rem;
  }

  .arrange-text1 {
    margin: 0;
  }

  .class-right1 h2 {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    margin-bottom: 1rem;
    margin-top: -2rem;
    /* padding-bottom: 5rem; */
  }

  .class-right1 p {
     font-family: 'Encode Sans Semi Condensed', sans-serif;
     font-weight: 400; 
     font-size: 16px;
    line-height: 1.6;
    margin-bottom: 1.4rem;
  }

  .class-right1 button {
    width: 45%;
    padding: 0.9rem;
    font-size: 13px;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: 400;
  }
   .class-right1 button:hover{
    background-color: #1F41FF;
   }

}