@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@300;400;600;700&display=swap');
@import "@fontsource/encode-sans-expanded"; 


.cta-section {
  background: #1d4ed8;
  color: white;
  padding: 11rem 23rem;
  text-align: left;
  font-weight: 500;
  font-size: 22px;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  /* margin-top: -91px; */
   z-index: 10;

}

.cta-section button {
  margin-top: 2rem;
  padding: 0.8rem 1.2rem;
  border: none;
  background: #D0FBF9;
  color: black;
  cursor: pointer;
  font-size:13px;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 400;
}
