@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@300;400;600;700&display=swap');
@import "@fontsource/encode-sans-expanded"; 

.cta-section {
  background: #1F41FF;
  color: white;
  padding: 0 13rem;
  min-height: 50vh;           
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: left;
  font-weight: 500;
  font-size: 22px;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  /* margin-top: -91px; */
   z-index: 10;
  

} 

.cta-section h2{
 padding-left: 7rem;
  width: 81.5%;
  font-weight: 550;
  font-size: 33px;
  font-family: 'Encode Sans Semi Condensed', sans-serif;

}

.cta-section button {
  margin-top: 2rem;
  margin-left: 7rem;
  padding: 1rem 1rem;
  border: none;
  background: #D0FBF9;
  color: black;
  cursor: pointer;
  font-size:13px;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 400;
  width: 11.5%;
 
}

/* tab view */

@media (min-width: 767px) and (max-width: 992px) {

  .cta-section {
    padding: 6rem 4rem;
    text-align: left;
    /* margin-top: 5.7rem; */
    /* font-weight: 100;
    font-size: 25px;
    font-family: 'Encode Sans Semi Condensed', sans-serif; */
  }  
  .cta-section h2{
    /* letter-spacing: 1px; */
    font-weight: 600;
    font-size: 42px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
  }

  .cta-section button {
    margin-top: 2rem;
    /* padding: 1.3rem; */
    /* width: 27%; */
    font-size: 16px;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: 400;
    /* padding-top: 2rem; */
  }
  .cta-section button:hover{
    background-color:#D900FF ;
    color: white;
  }
}


/* mobile view */
@media screen and (max-width: 768px) {

  .cta-section {
    /* height: 30vh; */
    /* margin-top: 40rem; */
    padding: 4rem 1.5rem;
    text-align: center;
    /* font-size: 18px; */
    font-size: 10px;
    font-weight: 100;
    
  }

  .cta-section button {
    width: 55%;
    /* max-width: 280px; */
    margin-left: 2rem;
   font-size: 1rem;

    /* padding: 0.9rem 1rem; */
  }

  .cta-section h2{
     font-size: 1.9rem;
     width: 100%;
     margin-left: -5rem;
     text-align: left;
     font-weight: 600;

  }
}

