@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@600&display=swap');






.founders-section{
  display: flex;
  min-height: 90vh;
  background: white;
  
   
}

/* LEFT */
.left{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8rem;

}

.left h2{
  font-size: 2.5rem;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 600;
  margin-top: 14rem;
  margin-left: 2rem;
}

.quote{
    max-width: 390px;
}

.quote blockquote{
  font-size: 1.7rem;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2.7rem;
  margin-left: 2rem;
}

.quote p{
  font-size: 1rem;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 400;
 margin-bottom: 10rem;
  margin-left: 2rem;
}

/* RIGHT */
.right{
  flex: 1;
  display: flex;
  flex-direction: column;
  
}

.founder-card{
  position: relative;
  /* height: 50vh; */
  overflow: hidden;
}

.founder-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
    /* object-position: center top;   
  transform: scale(1.01); */
}

/* CAPTION BAR */
.caption{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.1rem 2rem;
  color: black;
}

.caption h3{
font-size: 1.4rem;
font-family: 'DM Sans', sans-serif;
font-weight: 700;
margin-left: -0.5rem;

  
}

.caption p{
  font-size: 1rem;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 400;
  margin-left: -0.5rem;
  margin-top: 0.5rem;
}

/* COLORS */
.magenta{
  background: #D900FF;
}

.cyan{
  background: #D0FBF9;
}

/* MOBILE VIEW */
@media (max-width: 768px){

  .founders-section{
    flex-direction: column; 

    /* min-height: auto; */
  }

  .left{
    order: 1;
    padding: 3rem 1.5rem;
    gap: 3rem;
  }

  .left h2{
    margin: 0;
    font-size: 2.8rem;
    padding-bottom: 8rem;
  }

  .quote{
    max-width: 260px;   /* truth khali anayla */
  }

  .quote blockquote{
    margin: 0;
    font-size: 1.8rem;
    padding-bottom: 2rem;
    font-weight: 400;
    width: 130%;

  }

  .quote p{
    margin: 1rem 0 0 0;
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 1.8rem;
  }

  .right{
    order: 2;
  }

  .founder-card{
     height: auto;  /*   image natural height */
      position: relative; 
      /* display:content;
      height: 50%;
      width: 100%; */
  }

  .founder-card img{
    height: 50%;
      width: 100%;
    /* display:block; */
    object-fit:contain;
  }

  .caption{
    position: absolute;   /* overlay nahi mobile la */
    padding: 1rem 1.5rem;
     bottom: 0;
    left: 0;
    width: 100%;
  }

}
@media (min-width: 767px) and (max-width: 992px) {

}
