@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@600&display=swap');



/* .ticker-wrapper {
  width: 100%;
  overflow: hidden;
  background: #1d4ed8;
  padding: 0.8rem 0;
  white-space: nowrap;
}

.ticker {
  display: flex;
  animation: scroll 15s linear infinite;
}

.ticker-content {
  display: flex;
  gap: 4rem;
}

.ticker-content p {
  color: #fff;
  font-size: 1rem;
  margin: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
} */


/* Fix: keep ticker below navbar */
.ticker-wrapper {
  /* position: absolute; */
  width: 100%;
  overflow: hidden;
  background: #1F41FF;
  padding: 0.8rem 0;
  /* white-space: nowrap; */
  position: relative;
  z-index: 10;        /* keeps it above background but below navbar */
  /* margin-top: 80px;  pushes down so it's BELOW your navbar */

}

.ticker {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
 
}

.ticker-content {
  display: flex;
  align-items: center;
  gap: 4rem;
  white-space: nowrap;
}

.ticker-content p {
  color: #fff;
  font-size: 15px;
  margin: 0;
  white-space: nowrap;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 600;

}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* tab view */
@media screen and (max-width:64rem){
  .ticker-wrapper{
    margin-top: -5rem;
    padding: 1.6rem;
  }
  .ticker-content p{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-weight: 600;
    font-size: larger;
  }

}

/* mobile view */
    @media screen and (max-width:48rem){
    .ticker-wrapper{
    margin-top: -5rem;
    padding: 1.2rem;
  }
  .ticker-content p{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    /* font-weight: 0; */
    font-size: 1rem;
  }
    }