

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@600&display=swap');
@import "@fontsource/encode-sans-expanded"; 
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@300;400;600;700&display=swap');



/* Center Alignment */
.vision-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 10;

}

/* Two sections container */
.vision-container {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 90vh;
}

/* BTH SQUARES */
.square-box {
  flex: 1;
  overflow: hidden;
}

.vision-left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

/* RIGHT TEXT BLOCK */
.vision-right {
  padding: 3rem;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
   border-bottom: 1px solid black;
    /* height: 90%; */
}
.arrange-text {
  padding: 5rem;
}

.vision-right h2 {
  /* font-size: 1.6rem; */
  margin-bottom: 3rem;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 600; 
  font-size: 20px; 
  /* letter-spacing: 0.2px; */
}
.vision-right p{
  margin-bottom: 2rem;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 400; 
  font-size: 17px;
}

.vision-right button {
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  background: #2200FF;
  border: none;
  color: white;
  cursor: pointer;
  width: 16%;
  font-size:13px;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 400; /* Regular */
}
/* .vision-title {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-size: 8rem;
  font-weight: 600;
  z-index: 10;
  margin: 0;
  height: 50%;
} */
.vision-title {
  position: absolute;
  top: 20px;
  left: 40px;
  color: white;
  font-size: 126px;     
  letter-spacing: -3px;      
  line-height: 0.9;           
  font-stretch: 50%;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 600;
  font-size: 126px;
  z-index: 10;
  margin: 0; 
 
}

.vision-left {
  position: relative;   
}

