.hero-section {
  height: 80vh;
  background: url("https://images.unsplash.com/photo-1508704019882-f9cf40e475b4?auto=format&fit=crop&w=1400&q=60") 
              no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
  font-weight: 800;
  text-transform: capitalize;
}
