.hero {
  position: center;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  /* background: black; */
}

/* Background Image */
.hero-bg {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  /* filter: grayscale(100%); */
  /* opacity: 0.85; */
}

/* Text & Button Overlay */
.hero-content {
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 10;
  color: white;
}

/* Title */
.hero-title {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem;
}

/* Button */
.hero-btn {
  padding: 0.9rem 1.6rem;
  background: #b3f4ff;
  border: none;
  font-size: 1rem;
  color: #000;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
}

.hero-btn:hover {
  background: #89d7e2;
}
