@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@600&display=swap');

/* Main Hero Wrapper */
.hero {
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
  /* z-index: -1; */
  
}

/* Background Image Box */
.hero-image-box {
  /* position:static; */
  position: fixed; 
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  /* height: 85vh; */
  z-index: -1; /*Image behind text */
  /* z-index: 1; */
}

/* Background Image */
.hero-image {
  width: 1810px;
  height: 830px;
  object-fit: cover;
  filter: grayscale(100%) brightness(60%);  /* same dark effect as screenshot */
  /* position: fixed; */
 
}

/* Text + Button Overlay */
.hero-content {
  /* position: absolute; */
  position: fixed; 
  top: 5%;
  /* top: 10%; */
  left:2%;
  z-index: 10;
  /* z-index: 10; */
  color: white;
}

/* Title */
.hero-title {
  font-size: 126px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 600;
  margin-top: 5rem;


}

/* Button */
.hero-btn {
  padding: 0.9rem 1.6rem;
  background:#89d7e2;
  /* position: relative; */
  border: none;
  font-size: 1rem;
  color: #000;
  cursor: pointer;
  /* border-radius: 4px; */
  transition: 0.2s;
  margin-top: 75%;
  /* margin-top: 2rem; */

}

.hero-btn:hover {
  background: #D900FF;
}
